:root {
    --main-red-color: #C02020;
    --main-blue-color: #3790FF;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;
    overflow-x: hidden;
    max-width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: auto;
    background: rgb(54, 143, 254);
    background: linear-gradient(180deg, rgba(54, 143, 254, 1) 0%, rgba(214, 232, 255, 1) 35%, rgba(255, 255, 255, 1) 100%);
    justify-content: center;
}

main {
    flex: 2;
    display: flex;
    margin: auto;
    max-width: 1400px;
}

/* Left column - contains Nintendo DSi vector graphic */
#left-column {
    flex: 1;
    padding: 1em 0em 1em 0em;
    min-height: 100%;
}

/* DS Overlay setup */
#ds-container {
    position: relative;
    width: 22.5em;
    height: 33.75em;
}

#ds-header {
    text-align: left;
    padding: 0em 1em 0em 1em;
    display: none;
}

#ds-video {
    position: absolute;
    z-index: 1;
    margin-left: 35%;
    margin-top: 14%;
}

#ds-overlay {
    position: absolute;
    z-index: 2;
}

/* Right column - contains main information */
#right-column {
    flex: 1;
    padding: 1em 1em 1em 1em;
    min-height: 100%;
}

#game-logo-container {
    width: 100%;
    text-align: center;
}

/* For the top logo and assets */
.image-graphic {
    max-width: 600px;
    min-width: 300px;

    /* Disable interactivity */
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* SOS brigade logo and download box*/
#game-download-boxes {
    display: flex;
    flex-direction: row;
    flex: 3;
}

#sos-logo-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#download-box {
    flex: 2;
    justify-content: flex-end;
}

/* Download buttons */
#download-button-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#download-guide {
    background-color: var(--main-red-color);
    font-size: x-large;
}

#download-patcher {
    background-color: var(--main-blue-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#download-latest {
    background-color: var(--main-blue-color);
    border-radius: 0 0 0 0;
}

#download-sources {
    background-color: var(--main-blue-color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#download-or {
    text-align: center;
    font-size: x-large;
    margin-top: 0em;
    margin-bottom: 0em;
}

.button {
    filter: drop-shadow(0.4vh 0.4vh 0.2vh rgba(0, 0, 0, 0.5));
    border-radius: 0.5em;
    padding: 0.5em 0.6em 0.5em 0.6em;
    color: white;
    font-size: larger;
    box-shadow: inset 0.5vh 0.5vh 0.7vh rgba(0, 0, 0, 0.2);
}

/* Input buttons */
button {
    filter: drop-shadow(0.4vh 0.4vh 0.2vh rgba(0, 0, 0, 0.5));
    border-radius: 0.5em;
    padding: 0.5em 0.6em 0.5em 0.6em;
    background-color: var(--main-red-color);
    color: white;
    font-size: larger;
    box-shadow: inset 0.5vh 0.5vh 0.7vh rgba(0, 0, 0, 0.2);
}

button:disabled {
    filter: brightness(75%) drop-shadow(0.4vh 0.4vh 0.2vh rgba(0, 0, 0, 0.5));
}

.button:hover {
    filter: brightness(75%) drop-shadow(0.4vh 0.4vh 0.2vh rgba(0, 0, 0, 0.5));
}

.back-button {
    background-color: var(--main-red-color);
    max-width: 10em;
    margin: auto;
}

#game-about {
    text-align: left;
}

/* Generic one-column page setup for patch and guide pages */
.one-column {
    flex: 2;
    max-width: 1400px;
    justify-content: center;
    flex-direction: column;
}

.one-column-block {
    flex: 2;
    margin: auto;
}

.one-column-text {
    max-width: 700px;
}

footer {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(211, 211, 211, 1) 100%);
    color: dimgray;
    text-align: center;
    line-height: 95%;
    width: 100%;
}

/* Give certain elements a drop shadow */
.drop-shadow {
    filter: drop-shadow(0.2em 0.2em 0.1em rgba(0, 0, 0, 0.5));
}

/* Give headers their color and size */
h1 {
    font-size: x-large;
    border-bottom: 0.08em solid var(--main-red-color);
}

h3 {
    border-bottom: 0.08em solid var(--main-red-color);
}

/* Remove ugly link formatting */
a {
    text-decoration: none;
}

/* For hiding stuff (mainly used for the patcher logic) */
.hidden {
    display: none;
}

/* What to do when the screen shrinks*/
@media screen and (max-width: 1240px) {
    /* Move the left column (DS) below the main information */
    #left-column {
        flex: 0;
        order: 2;
        text-align: center;
    }

    main {
        flex-direction: column;
    }

    /* DS Overlay on mobile */
    #ds-header {
        display: block;
    }

    #ds-container {
        position: relative;
        display: inline-block;
        margin-bottom: 3em;
    }

    #ds-video {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    #ds-overlay {
        left: -6em;
        right: 0;
        bottom: -4.6em;
        margin-left: auto;
        margin-right: auto;
        width: 153%;
    }
}