:root {
    --main-red-color: #c02020;
    --main-blue-color: #3790ff;
    --main-grey-color: #eeeeee;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;
    overflow-x: hidden;
    max-width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: auto;
    background: rgb(54, 143, 254);
    background: linear-gradient(180deg, rgba(54, 143, 254, 1) 0%, rgba(255, 255, 255, 0.01) 15em);
    justify-content: center;
}

main {
    flex: 2;
    display: flex;
    margin: auto;
    max-width: 1400px;
}

/* Left column - contains Nintendo DSi vector graphic */
#left-column {
    flex: 1;
    padding: 1em 0em 1em 0em;
    min-height: 100%;
}

/* DS Overlay setup */
#ds-container {
    position: relative;
    width: 22.5em;
    height: 33.75em;
    margin-bottom: 8em;
}

#ds-header {
    text-align: left;
    padding: 0em 1em 0em 1em;
    display: none;
}

#ds-video {
    position: absolute;
    z-index: 1;
    margin-left: 35%;
    margin-top: 14%;
}

#ds-overlay {
    position: absolute;
    z-index: 2;
}

/* Right column - contains main information */
#right-column {
    flex: 1;
    padding: 1em 1em 1em 1em;
    min-height: 100%;
    min-width: 0;
}

#game-logo-container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.logo {
    max-width: 550px;
}

/* Disable interactivity for image graphics */
.image-graphic {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* SOS brigade logo and download box*/
#game-download-boxes {
    display: flex;
    flex-direction: row;
    flex: 3;
}

#sos-logo-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#download-box {
    flex: 2;
    justify-content: flex-end;
}

/* Download buttons */
#download-button-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#download-guide {
    background-color: var(--main-red-color);
    font-size: x-large;
}

#download-patcher {
    background-color: var(--main-blue-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#download-latest {
    background-color: var(--main-blue-color);
    border-radius: 0 0 0 0;
}

#latest-patch-download-version {
    float: right;
    text-align: center;
    line-height: 0.7em;
}

#download-sources {
    background-color: var(--main-blue-color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#download-or {
    text-align: center;
    font-size: x-large;
    margin-top: 0em;
    margin-bottom: 0em;
}

.button {
    filter: drop-shadow(0.4vh 0.4vh 0.2vh rgba(0, 0, 0, 0.5));
    border-radius: 0.5em;
    padding: 0.5em 0.6em 0.5em 0.6em;
    color: white;
    font-size: larger;
    box-shadow: inset 0.5vh 0.5vh 0.7vh rgba(0, 0, 0, 0.2);
}

/* Input items */
button {
    filter: drop-shadow(0.4vh 0.4vh 0.2vh rgba(0, 0, 0, 0.5));
    box-shadow: inset 0.5vh 0.5vh 0.7vh rgba(0, 0, 0, 0.2);
    border: 0px;
    border-radius: 0.5em;
    padding: 0.5em 0.6em 0.5em 0.6em;
    background-color: var(--main-red-color);
    color: white;
    font-size: 1em;
}

button:disabled {
    filter: brightness(75%) drop-shadow(0.4vh 0.4vh 0.2vh rgba(0, 0, 0, 0.5));
}

.button:hover {
    filter: brightness(75%) drop-shadow(0.4vh 0.4vh 0.2vh rgba(0, 0, 0, 0.5));
}

.disabled {
    filter: brightness(75%) drop-shadow(0.4vh 0.4vh 0.2vh rgba(0, 0, 0, 0.5));
}

button:hover {
    filter: brightness(75%) drop-shadow(0.4vh 0.4vh 0.2vh rgba(0, 0, 0, 0.5));
}

.back-button {
    background-color: var(--main-red-color);
    max-width: 10em;
    margin: auto;
}

select {
    font-family: Nunito, sans-serif;
    font-size: 0.9em;
    border: black solid 0.15em;
    border-radius: 0.3em;
}

input[type="radio"] {
    appearance: none;
    font: inherit;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-radius: 50%;
    display: inline-block;
}

input[type="radio"]:checked {
    background-color: var(--main-red-color);
}

.patcher-option-radio {
    text-align: center;
    max-width: 50%;
    width: 50%;
}

#game-about {
    text-align: left;
}

#translation-team {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}

.two-column-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#discord-button {
    background-color: #5865f2;
    max-width: 10em;
}

#twitter-button {
    background-color: #1da1f2;
}

/* Column with sidebar page setup (guide) */
#column-with-sidebar {
    max-width: 1100px;
}

.column-with-sidebar-body {
    flex: 3;
    padding: 1em 1em 1em 1em;
    min-height: 100%;
    min-width: 600px;
    max-width: 1140px;
}

.column-with-sidebar-bar {
    flex: 1;
    padding: 1em 1em 1em 1em;
    min-height: 100%;
    max-width: 220px;
}

#guide-buttons {
    clear: both;
}

.guide-button {
    background-color: var(--main-blue-color);
    font-size: 1em;
    text-align: center;
    display: inline;
    margin: 0em 0.5em;
}

#guide-platforms {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fill, 10em);
    text-align: center;
    justify-content: center;
}

#guide-emulators {
    max-width: 66%;
    margin: auto;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fill, 10em);
    text-align: center;
    justify-content: center;
}

.guide-option {
    border-radius: 0.3em;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.guide-option:hover {
    background-color: var(--main-grey-color);;
}

.guide-platform-indicator {
    background-color: var(--main-red-color);
    color: white;
    padding: 0.2em;
    border-radius: 0.3em;
    max-width: 10em;
    text-align: center;
}

#guide-platform-indicator-icon {
    position: relative;
    top: 0.1em;
}

#guide-platform-indicator-text {
    position: relative;
    top: -0.1em;
}

/* One-column page setup (patcher) */
.one-column {
    flex: 2;
    max-width: 1400px;
    justify-content: center;
    flex-direction: column;
}

.one-column-block {
    flex: 2;
    margin: auto;
    clear: both;
}

.one-column-text {
}

li {
    margin: 0.4em 0;
}

/* Used for the patcher interface */
#patcher-menu {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, 48.5%);
    text-align: center;
    justify-content: center;
}

#patcher-options {
    grid-row: auto / span 2;
}

#patcher-options-table {
    display: inline-block;
    text-align: left;
    border-spacing: 0.2em;
}

.patcher-option-image {
    float: right;
    max-height: 96px;
    padding-left: 0.2em;
}

/* Patcher file selection */
.patcher-file-dragging {
    border-color: #969ba6 !important;
    color: #969ba6;
}

#patcher-file-drop input:hover {
    border-color: #969ba6;
    color: #969ba6;
    cursor: pointer;
}

.input-file {
    padding: 2em 2vw;
    border: #31343a dashed 0.2em;
    border-radius: 0.8em;
}

footer {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 50%);
    color: dimgray;
    text-align: center;
    line-height: 95%;
    width: 100%;
}

.table-of-contents {
    background-color: var(--main-grey-color);
    display: inline-block;
    padding: 0.85em 0.6em;
    border-radius: 0.5em;
}

.table-of-contents ul {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.notice-box {
    background-color: var(--main-grey-color);
    display: inline-block;
    padding: 0.4em 0.5em;
    border-radius: 0.4em;
}

/* Give certain elements a drop shadow */
.drop-shadow {
    filter: drop-shadow(0.2em 0.2em 0.1em rgba(0, 0, 0, 0.5));
}

/* Give headers their color and size */
h1 {
    font-size: x-large;
    border-bottom: 0.08em solid var(--main-red-color);
}

h3 {
    text-align: left;
    border-bottom: 0.08em solid var(--main-red-color);
}

h4 {
    text-align: left;
    border-bottom: 0.08em solid var(--main-red-color);
}

/* Remove ugly link formatting */
a {
    text-decoration: none;
}

/* Allows .svg images to be clicked */
object {
    pointer-events: none;
}

/* For hiding stuff (mainly used for the patcher logic) */
.hidden {
    display: none;
}

#footer-downloads {
    color: black;
}

/* Download counter */
#download-count {
    background-color: black;
    color: white;
    font-family: "Consolas", monospace;
    padding: 0.2em;
    margin-left: 0.1em;
}

/* What to do when the screen shrinks*/
@media screen and (max-width: 1230px) {

    /* Move the left column (DS) below the main information */
    #left-column {
        flex: 0;
        order: 2;
        text-align: center;
    }

    #main-two-columns {
        flex-direction: column;
    }

    /* DS Overlay on mobile */
    #ds-header {
        display: block;
    }

    #ds-container {
        position: relative;
        display: inline-block;
        margin-bottom: 3em;
    }

    #ds-video {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    #ds-overlay {
        left: -6em;
        right: 0;
        bottom: -4.6em;
        margin-left: auto;
        margin-right: auto;
        width: 153%;
    }

    @media screen and (max-width: 880px) {
        #column-with-sidebar {
            flex-direction: column;
        }

        .column-with-sidebar-bar {
            max-width: 100%;
        }

        /* Guide page body */
        .column-with-sidebar-body {
            min-width: 250px;
        }
    }

    /* Additional limits for patcher menu */
    @media screen and (max-width: 750px) {
        #patcher-menu {
            grid-template-columns: repeat(auto-fit, 95vw);
        }
    }

    /* Additional limits for extra small phones */
    @media screen and (max-width: 330px) {

        /* Hide SOS dan logo */
        #sos-logo-box {
            display: none;
        }

        /* Hide the Nintendo DS gameplay video */
        #ds {
            display: none;
        }

        /* Make two column lists one column */
        .two-column-list {
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
        }
    }
}